<!DOCTYPE html>
<html>
<head>
    <meta name="color-scheme" content="light dark">
</head>
<body>
    <h2>Three-Tier Docker Application Demo (Nginx-Flask-MongoDB)</h2>
    <form method="POST">
        <input type="text" name="content" placeholder="Type something..." required>
        <button type="submit">Submit</button>
    </form>
    <ul>
    {% for item in items %}
        <li>
            {{ item.content }}
            <form action="/delete/{{ item._id }}" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
    </ul>
    <hr>
    <h3>Stored Values:</h3>
    <ul>
        {% for item in items %}
            <li>{{ item.content }}</li>
        {% endfor %}
    </ul>
</body>
</html>